# Flutter & Dart
.dart_tool/
.pub/
build/
.flutter-plugins
.packages
pubspec.lock

# IntelliJ
*.iml
.idea/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Others
.DS_Store
thumbs.db